/*flexbox no cabecalho*/
.cabecalhoPrincipal .container {
    /* usar o display flex na class pai*/
    display: flex;
    align-items: center; /* vai alinhar verticalmente no centro */ 
    justify-content: space-between; /* coloca o espaço entre os itens / 
    só funciona se tiver espaço sobrando*/ 
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

/* flexbox no body com lista de itens*/
.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    width: 23%;
    margin: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1) {
    margin-left: 0;
}

/*flexbox na section*/
.rodapePrincipal-navMap-list {
    display: flex;
    flex-direction: column; /* row - linha; column - colunas */ 
    flex-wrap: wrap; /* funciona como um quebra linha */ 
    /* flex-flow: column wrap; -- atalho para direction e wrap*/
    height: 250px;
}


/*flexbox no rodapé*/
.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around; /* espaço em volta dos elementos */ 
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.videoSobre .container {
    display: flex;
    justify-content: space-between;
}

.videoSobre-sobre {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.videoSobre-sobre-list {
    flex-grow: 1;
}

.videoSobre-video {
    flex-grow: 1;
    flex-shrink: 2;
}

/* Mobile */
@media(max-width: 768px) {
    .cabecalhoPrincipal-nav {
        flex-direction: column;
    }

    .cabecalhoPrincipal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .conteudoPrincipal-cursos {
        flex-direction: column;
    }

    .conteudoPrincipal-cursos-link {
        width: 100%;
    }

    .rodapePrincipal-navMap-list {
        height: auto;
    }

    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
        align-items: center;
    }

    .rodapePrincipal-patrocinadores-list {
        margin: 0;
        width: 100%;
    }

    .rodapePrincipal-contatoForm {
        width: 100%;
    }

    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
    }

    .cabecalhoPrincipal-nav-link-app {
        order: -1;
    }

    .videoSobre .container {
        flex-direction: column;
        /*align-items: center;*/
    }

    .videoSobre-video {
        margin: 0 auto;
    }
}